.App {
  background: #e8eaf6;
}
.sidebar {
  display: flex;
  justify-content: start;
  color: #ccc;
  position: sticky;
  background: #fff;
}
ul li {
  list-style-type: none;
  cursor: pointer;
  padding-top: 30px;
  padding-left: 0 auto;
  padding-right: 20px;
}
.outer {
  display: flex;
}
hr {
  width: 100%;
}
